body {
    margin: 0;
    background-color:#FDFAF1;
    width: 440px;
}
    
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: #0F456C;
    position: relative;
    width: 100%;
    transition: 0.3s;
}

.logga img{
    height: 100px;
    width: 100px;
    display: block;
}

.havsviken {
    margin-left: 30px;
}

.navigation {
    position: relative;
    z-index: 1000;
    height: 100%;
    align-items: center;
    margin: auto;
    display: flex;
}

.menyknapp {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: 10001;
}

.burgare {
    display: block;
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 20px;
    padding: 10px;
    z-index: 10000;
}

.icon, .icon::before, .icon::after {
    display: block;
    background: #FDFAF1;
    height: 2px;
    width: 100%;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.icon {
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.icon::before {
    content: "";
    top: -8px;
}

.icon::after {
    content: "";
    top: 8px;
}

#main-menu {
    position: fixed;
    top: 120px;
    left: 0;
    width: 440px;
    height: auto; 
    max-height: 0;
    overflow-y: auto; 
    transition: max-height 0.3s ease-in-out;
    background-color: #0F456C; 
    z-index: 999; 
}

#main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#main-menu a {
    display: block; 
    padding: 20px;
    color: #F5E7BA;
    text-decoration: none;
    font-family: "Jura", sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s;
}
        
.menyknapp:checked ~ .burgare .icon {
    background: transparent;
}
.menyknapp:checked ~ .burgare .icon::before {
    transform: rotate(45deg);
    top: 0;
}
.menyknapp:checked ~ .burgare .icon::after {
    transform: rotate(-45deg);
    top: 0;
}

.menyknapp:checked ~ #main-menu {
    max-height: 100vh;
}

h1 {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    color: #F5E7BA;
    font-size: 2.6rem;
    margin: 0;
}

h2, h3 {
    color: #0F456C;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    padding: 30px;
    margin: 0;
}

button {
    background-color: #0F456C;
    color: #F5E7BA;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    margin: 30px 0;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

button:hover {
    background-color: #F4E6BB;
    color: #0F456C;
    border: 2px solid #0F456C;
}

.rating label{
    font-size: 1.3rem;
    margin-right: 15px;
    color: #7f7e7a;
    border-radius: 50%;
    display: inline-block;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}



#nytt {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p {
    display: inline-block;
     font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#nytt input[type="radio"]:checked ~ label,
#nytt label:hover,
#nytt label:hover ~ label {
    color: gold;
}

#nytt label{
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#nytt input[type="text"],
#nytt input[type="file"],
#nytt textarea {
  width: 100%;
  padding: 10px;
  background-color: #E1F1F4;
  border: 1px solid #0F456C;
  border-radius: 6px;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Fixed font weight */
  font-style: normal;
  margin-top: 5px;
}

#nytt textarea {
    min-height: 100px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
  max-width: 440px;
}

.gästkort {
    height: 140px;
    width: 140px;
    border-radius: 18px;
    background-color: #E1F1F4;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gästlabel {
    display: block; 
    text-align: center;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    color: #0F456C;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.gästbild {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    margin: 10px; 
}

.gästkort .popup {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999; 
    transition: opacity 0.3s, visibility 0.3s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#gäst1:checked ~ .popup {
    visibility: visible;
    opacity: 1;
}

#gäst2:checked ~ .popup {
    visibility: visible;
    opacity: 1;
}

#gäst3:checked ~ .popup {
    visibility: visible;
    opacity: 1;
}

#gäst4:checked ~ .popup {
    visibility: visible;
    opacity: 1;
}

.popup-content {
    width: 300px; 
    height: 170px;
    background-color: #E1F1F4;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    grid-template-rows: auto 1fr; 
    gap: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    align-items: space-between;
    justify-content: space-evenly;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

#gäst1:checked ~ .popup .popup-content {
    transform: scale(1); 
}

#gäst2:checked ~ .popup .popup-content {
    transform: scale(1); 
}
#gäst3:checked ~ .popup .popup-content {
    transform: scale(1); 
}

#gäst4:checked ~ .popup .popup-content {
    transform: scale(1); 
}

.popup-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-bottom: 0;
    border-bottom: none;
    overflow-y: auto;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100%;
    justify-content: space-around;
}

.popup-text h3 {
    margin: 0 0 5px 0;
    color: #0F456C;
    font-size: 1.2em;
    text-align: left;
    padding: 0;
}

.popup-text p {
    margin: 0;
    font-size: 0.8em;
    line-height: 1.2;
}

.popup-img {
    width: 110px;
    height: 180px;
    border-radius: 8px;
    align-self: center; 

}

.popup-content .close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #0F456C;
    line-height: 1;
}

.gästkort > .popup > .close {
    display: none;
}

.formulär {
    padding: 100px 50px;
}

footer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    background-color: #0F456C;
    color: #F4E6BB;
}



ul {
    list-style-type: none;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0;
}

.middle-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 0;
}

.middle-column p {
    margin: 0px;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
}

.logo {
    height: 70px;
    width: 70px;
    mar0
}

.social-icons {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-icons a {
  color: #F4E6BB;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.social-icons a:hover {
  color: #E1F1F4; 
}
