main {
    display: flex;
}

#about {
    background-color: $primarySand;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -1px;
    color: $primaryNavy;
    text-align: center;
    margin-bottom: 0px;
}

.historia p {
    max-width: 400px;
    text-align: justify;
    line-height: 28px;
    margin: 20px auto;
}

.whole-family-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 18px;
    margin-bottom: 40px;
    & p {
        max-width: 280px;
        text-align: start;
        margin-top: 2px;
    }
    & h4 {
        font-size: 18px;;
        text-align: center;
    }
}

.mail {
    text-align: start;
    margin-bottom: -15px;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.employee-gruop {
    display: flex;
    align-content: center;
    gap: 50px;
}

.employee {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h5 {
        margin: 2px;
        font-size: 16px;
    }
}

.family {
    @include family-image;
    @include imageBorder;
}

#the-owners {
    @include imageBorder;
    width: 517px;    
}