body {
    background-color: #FDFAF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Jura", sans-serif;
    color: $primaryNavy;
}

header {
    display: flex;
    width: 100vw;
    height: 115px;
    background-color: $primaryNavy;
}

.logo {
    margin-left: 10px;
    height: 115px;
}

h1 {
    margin-left: 20px;
    font-family: "Mea Culpa", cursive;
    font-size: 42px;
    font-weight: 100;
    align-self: center;
    color: $primarySand;
}

.room-check {
    width: 100vw;
    height: 80px;
    background-color: #F0F8FA;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
}

p {
    margin-top: -20px;
    text-align: center;
    max-width: 350px;
    line-height: 24px;
}

.image-container {
    position: relative;
}

.centerd-text {
    font-size: 32px;
    font-weight: 700;
    @include centerd-text;
}

.small {
    font-size: 22px;
}

.two-images {
    padding: none;
    width: 372px;
    display: flex;
    justify-content: space-between;
}

#rooms, #frukost {
    opacity: 0.8;
    width: 369px;
    @include imageBorder;
    &:hover {
        @include imageHover;
    }
}

#galleri, #guest-book, #om-oss, #kontakt {
    opacity: 0.8;
    width: 176px;
    @include imageBorder;
    &:hover {
        @include imageHover;
    }
}

footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 200px;
    background-color: $primaryNavy;
    color: #F4E6BB;
    a {
        text-decoration: none;
        color: #F4E6BB;
        &:hover {
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

.left-column {
    width: 100px;
}

ul {
    list-style-type: none;
    padding: 0;
    li {
        margin: 5px;
    }
}

.middle-column {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-column {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 8px;
}

.icon {
    height: 46px;
    width: 46px;
    &:hover {
        cursor: pointer;
        scale: 1.2;
    }
}