/* VARIABLER */
/* MIXINS */
body {
  background-color: #FDFAF1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Jura", sans-serif;
  color: #0F456C;
}

header {
  display: flex;
  width: 100vw;
  height: 115px;
  background-color: #0F456C;
}

.logo {
  margin-left: 10px;
  height: 115px;
}

h1 {
  margin-left: 20px;
  font-family: "Mea Culpa", cursive;
  font-size: 42px;
  font-weight: 100;
  align-self: center;
  color: #F4E6BB;
}

.room-check {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: #F0F8FA;
}

.check-date {
  font-family: "Jura", sans-serif;
  background-color: #F4E6BB;
  color: #0F456C;
  text-align: center;
  margin-top: 8px;
  height: 18px;
  width: 140px;
  border-radius: 12px;
}
.check-date:hover {
  cursor: pointer;
}

#check-btn {
  font-family: "Jura", sans-serif;
  border-radius: 12px;
  font-size: 16px;
  height: 50px;
  width: 120px;
  background-color: #0F456C;
  border: 2px solid #0F456C;
  color: #F4E6BB;
}
#check-btn:hover {
  cursor: pointer;
  background-color: rgb(11.8902439024, 54.6951219512, 85.6097560976);
  box-shadow: 1px 1px 4px gray;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
}

p {
  margin-top: -20px;
  text-align: center;
  max-width: 350px;
  line-height: 24px;
}

.image-container {
  position: relative;
}

.centerd-text {
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #F4E6BB;
}

.small {
  font-size: 22px;
}

.two-images {
  padding: none;
  width: 372px;
  display: flex;
  justify-content: space-between;
}

#rooms, #frukost {
  opacity: 0.8;
  width: 369px;
  border: 2.5px solid #0F456C;
  border-radius: 28px;
}
#rooms:hover, #frukost:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: 2px 2px 6px gray;
  scale: 1.02;
}

#galleri, #guest-book, #om-oss, #kontakt {
  opacity: 0.8;
  width: 176px;
  border: 2.5px solid #0F456C;
  border-radius: 28px;
}
#galleri:hover, #guest-book:hover, #om-oss:hover, #kontakt:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: 2px 2px 6px gray;
  scale: 1.02;
}

footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 200px;
  background-color: #0F456C;
  color: #F4E6BB;
}
footer a {
  text-decoration: none;
  color: #F4E6BB;
}
footer a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.left-column {
  width: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  margin: 5px;
}

.middle-column {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-column {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 8px;
}

.icon {
  height: 46px;
  width: 46px;
}
.icon:hover {
  cursor: pointer;
  scale: 1.2;
}

#about {
  background-color: #F4E6BB;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -1px;
  color: #0F456C;
  text-align: center;
  margin-bottom: 0px;
}

.historia p {
  max-width: 400px;
  text-align: justify;
  line-height: 28px;
  margin: 20px auto;
}

.whole-family-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 18px;
  margin-bottom: 40px;
}

.receptionen, .kitchen,
.janitors, .the-owners {
  display: flex;
}

.family {
  width: 192px;
  height: 240px;
  border: 2.5px solid #0F456C;
  border-radius: 28px;
}

#the-owners {
  border: 2.5px solid #0F456C;
  border-radius: 28px;
  width: 517px;
}/*# sourceMappingURL=main.css.map */